body{
    background-color: lightgreen;
    color: black;
}
.container{
    text-align: center;
}
.container> h1{
    font-size: 3rem;
}
button{
    font-size: 3rem;
    padding: .6rem 1.6rem;
    margin-left: .5rem;
    border-radius: 1.3rem;
    border: none;
}
button:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
h3{
    font-size: 2rem;
}
.btn{
    width: 12rem;
    height: 12rem;
    cursor: pointer;
}
.img-btn{
    height: 100%;
    width: 100%;
}